<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cun.app.mapper.QuestionMapper">

    <select id="getQuestionStudentXML" resultType="com.cun.app.vo.QuestionStudentVO">
        SELECT t_question.*,t_student.`name` FROM t_question,t_student WHERE t_question.student_id=t_student.id
    </select>
</mapper>